:root {
  --common-width: 75%;
}

* {
  box-sizing: border-box;
}

body {
  background-color:darkslategrey;
  font-family:  Helvetica, Arial, sans-serif;
  color:ghostwhite
}
.App {
  padding:0;
  margin:0;
}
hr {
  width:var(--common-width);
  height:0.25rem;
  background-color: slategrey;
  border-color: slategray;
}
.my-name, .my-email  {
  color:darkgoldenrod;
  border:solid;
}

.label-email {
  /* font-size:24px; */
  content:'';
}
.titlebar-contact, .project-list, .bio {
  width:var(--common-width);
  border:solid;
  margin-left: auto;
  margin-right: auto;
  top:0;
  left:0;
}

.titlebar-contact {
  height: 10vh;
  background: rgb(0,0,0,0);
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.project-list {
  height: 71vh;
  display:flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}
.project {
  width: 75%;
  height: 25%;
  border-radius:10px;
  border:solid;
  margin-left:auto;
  margin-right:auto;
  

}

.bio {
  height: 15vh;
}