:root {
    --project-background-color:#051818;
    --common-width: 75%;
    --basic-text: slategray;
    --bright-text: ghostwhite;
    --common-row-gap: 20px;
    --sample-image: url('https://images.unsplash.com/photo-1606503153255-59d8b8b82176?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    /* background-color:darkslategrey; */
    background:radial-gradient(
      ellipse at left top, 
      #003333 0%,
      #002222 5%,
      #002020 10%,
      #001818 20%,
      #001616 40%, 
      #001111 100%);
    font-family:  Helvetica, Arial, sans-serif;
    color:var(--basic-text);
    height:100vh;
    /* filter:blur(10px); */
    z-index:-1;
  }
  .App {
    padding:0;
    margin:0;
  }
  hr {
    width:var(--common-width);
    height:0.25rem;
    background-color: slategrey;
    border-color: slategray;
    box-shadow: 2px 5px #001111;
    margin-bottom: var(--common-row-gap);
    margin-top: var(--common-row-gap);
  }
  .my-name, .my-email  {
    color:var(--basic-text);
    /* border:solid; */
    height:100%;
    display:flex;
    align-items: center;
  }
  
  .my-name {
    color:var(--bright-text);
    font-size: 175%;
    text-shadow: 2px 5px rgba(0, 11, 11, 25%);
  }
  
  .label-email {
    /* font-size:24px; */
    content:'';
  }
  .titlebar-contact, .project-list, .bio {
    width:var(--common-width);
    /* border:solid; */
    margin-left: auto;
    margin-right: auto;
    top:0;
    left:0;
  }
  
  .titlebar-contact {
    height: 5vh;
    background: rgb(0,0,0,0);
    display:flex;
    justify-content: space-between;
  }
  
  .project-list {
    height: 71vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:3%
  }
  .project {
    width: 100%;

    border-radius:10px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    background-color: var(--project-background-color);
    box-shadow: 10px 5px #001111;
    border-width: 1px;
    border-style: solid;
    border-color: #446666;
  }
  
  
  .project:hover {
    border-color: #EEFFFF #446666 #446666 #EEFFFF;
    transform: translateY(-1%) translateX(-1%);
    box-shadow: 16px 8px 2px #001111;
    transition:0.2s ease-in-out;
  }
  .project:hover .project-blurb {
  
    visibility: visible;
    opacity: 1;
  }
  
  .bio {
    height: 15vh;
    display:flex;
    justify-content: space-between;
    position:relative;
    padding:0;
    border:solid;
  }
  .bio-text {
    width:75%;
    font-size:1.5rem;
    height:100%;
    vertical-align: bottom;
    border:solid;
    align-self:center;
  }
  .bio-name {
    display:inline;
    color:var(--bright-text);
    font-size: 150%;
    text-shadow: 2px 5px rgba(0, 11, 11, 25%);
    border:solid;
  }
  .bio-email {
    width:25%;
    /* border:solid; */
    text-align: right;
    align-self:flex-start;
    top:-10px;
    
  }
  
  .project-name, 
  .project-blurb, 
  .project-demo, 
  .project-source, 
  .project-image,
  .project-subtitle  {
    /* border-style:solid; */
    position:absolute;
  }
  .project-blurb, .project-image  {
    top:15%;
    left:0;
    height:70%;
    width:100%;
  }
  .project-image {
    background: linear-gradient(180deg, rgba(05, 18, 18, 1) 0%, rgba(255,255,255,0) 10%,  rgba(255,255,255,0) 90%,rgba(05, 18, 18, 1)) 100%, var(--sample-image);
    z-index:0;
    opacity:30%;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .project-header {
    position:relative;
    height:15%;
    padding-left: 5%;
  }
  .project-name {
    font-size:125%;
    z-index:1;
    position:absolute;
    bottom:0;
  }

  .project-name p {

    display:inline;
    font-size:75%;

  }


  .project-demo {
    padding: 1% 2%;
    top:85%;
    right:5%;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border:solid;
  }
  
  .project-source {
    left:5%;
    top:85%;
    padding: 1% 2%;
    border:solid;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .project-blurb {
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:1;
    visibility:hidden;
    opacity:0;
    transition: visibility 0s, opacity 0.2s linear;
  }

  .project-source:hover, .project-demo:hover {
    color: #EEFFFF;
    cursor: pointer;
  }
  
  @media only screen and (max-width:1200px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }

  }

  @media only screen and (max-width:800px) {
    .project-list {
        grid-template-columns: 1fr;
    }

  }