:root {

  }

  
.bio {
  height: 15vh;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.bio-header {
  display:flex;
  align-items: center;
  width:100%;
  font-size:var(--font-h2);  
  grid-area:  1 / 1 / span 1 / span 2;
}
.bio-greeting{
  width:70%;
}
.bio-name {
  display:inline;
  color:var(--bright-text);
  font-size: var(--font-h1);
  text-shadow: 2px 5px rgba(0, 11, 11, 25%);
}
.bio-email {
  display:flex;
  align-items: center;
  flex-direction: row-reverse;
  width:30%;
  margin:0;
  padding:0;
}

.bio-blurb {
  grid-area: 2 / 1 / span 1 / span 2;
  font-size:var(--font-h2);
}
.bio-wide, .bio-narrow {
  overflow-wrap: break-word;
  margin:0;
  height:100%;
}
.bio-narrow {
  display:none;
}


.project-list {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
  gap:3%;
}

.project {
  width: var(--column-width);
  height:60vh;
  border-radius:var(--common-border-radius);
  display:flex;
  flex-direction: column;
  margin-left:auto;
  margin-right:auto;
  background-color: var(--project-background-color);
  box-shadow: 0px 0px 10px #001111;
  
}

.project:hover {
  transform: translateY(-1.5%) translateX(0%);
  /* box-shadow: 0px 0px 12px var(--bright-text);   */
  transition:0.2s ease-in-out;
}
.project:hover .project-image {
  opacity:1;
}

.project:hover .project-name, .project:hover .project-blurb  {
  color:var(--bright-text);
}

.project:hover .button {
  background-color: var(--bright-text);
}

.project-image  {
  height:60%;
  border-radius: var(--common-border-radius) var(--common-border-radius) 0 0;
  transition: 0.2s ease-in-out;
}
.project-blurb {
  height:30%;
}
.project-image {
  background: var(--sample-image);
  opacity:70%;
  background-size:cover;
}

.project-name {
  font-size:var(--font-h2);
  text-align: center;
  margin:0;
  padding: 10px 0 0 0;
}

.button {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  background-color: var(--basic-text);
  color:var(--project-background-color);    
}
.project-source {
  border-radius: 0 0 0 var(--common-border-radius);
  border-right: solid;
  transition: 0.2s ease-in-out;
}
.project-demo {
  border-radius: 0 0 var(--common-border-radius)0;
  transition: 0.2s ease-in-out;
}
.project-blurb {
  display:flex;
  align-items: center;
  justify-content: center;
}

.project-source:hover, .project-demo:hover {
  font-weight: bolder;
  cursor: pointer;
}
.project-buttons {
  display:grid;
  grid-template-columns: 1fr 2fr;
  height:10%;
  width:100%;
}
.icon:nth-of-type(1) {
  margin-top:0.5rem;
  margin-left:0.5rem;
}
.icon {
  width:12%;
  height:auto;
  display:inline-block;
}


@media only screen and (max-width:600px) {
  .bio-wide {
    display:none;
  }
  .bio-email {
    font-size: var(--font-sub);
  }
  .bio-greeting {
    grid-area: 1 / 1 / span 1 / span 2;
  }
  .bio-blurb {
    font-size:var(--font-body);
  }
  .bio {
    height:8vh;
  }
}
@media only screen and (max-width:500px) {
  :root {
    --column-width: 90%;
  }
}